<form [formGroup]="form" (ngSubmit)="onSubmit()" 
class="grid grid-cols-12 gap-4">

  @for (field of fields(); track field.name) {
    @if (field.type === 'password') {
      <app-password-field
        [config]="field"
        [control]="getControl(field.name)"
      />
    }
    @if (field.type === 'checkbox') {
      <app-checkbox-field
        [config]="field"
        [control]="getControl(field.name)"
      />
    }
    @if (field.type === 'radio') {
      <app-radio-field
        [config]="field"
        [control]="getControl(field.name)"
      />
    }
    @if (field.type === 'search') {
      <app-search-field
        [config]="field"
        [control]="getControl(field.name)"
      />
    }
    @if (field.type === 'date') {
      <app-date-field
        [config]="field"
        [control]="getControl(field.name)"
      />
    }
    @if (field.type === 'select') {
      <app-select-field
        [config]="field"
        [control]="getControl(field.name)"
      />
    }
  }
  <ng-content/>
  <button type="submit" [class]="buttonClass()">
    {{ submitLabel() | translate }}
  </button>
</form>
