<form [formGroup]="form" (ngSubmit)="onSubmit()" 
class="grid grid-cols-12 gap-4 w-full h-full">

  @for (field of fields(); track field.name) {

    @if (field.type === 'text') {
      <app-text-field
        [config]="field"
        [control]="getControl(field.name)"
      />
    }
    @if (field.type === 'password') {
      <app-password-field
        [config]="field"
        [control]="getControl(field.name)"
      />
    }
    @if (field.type === 'checkbox') {
      <app-checkbox-field
        [config]="field"
        [control]="getControl(field.name)"
      />
    }
    @if (field.type === 'radio') {
      <app-radio-field
        [config]="field"
        [control]="getControl(field.name)"
        [class]="field.className?.span ?? ''"
      />
    }
    @if (field.type === 'textarea') {
      <app-textarea-field
        [config]="field"
        [control]="getControl(field.name)"
      />
    }
    @if (field.type === 'email') {
      <app-email-field
        [config]="field"
        [control]="getControl(field.name)"
      />
    }
    @if (field.type === 'date') {
      <app-date-field
        [config]='field'
        [control]="getControl(field.name)"
        [class]="field.className?.span ?? ''"
      />
    }
  }
  <ng-content/>
  <button type="submit"[class]="buttonClass()">
    {{ submitLabel() | translate }}
  </button>
</form>
