/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1.5px solid #2563EB;
  border-radius: 4px;
  background-color: white;
  margin-left: 8px;
  cursor: pointer;
  position: relative;

  &:checked {
    background-color: white;
  }

  &:checked::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: solid #2563EB;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
.custom-checkbox-gray {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1.5px solid #c8cacf;
  border-radius: 4px;
  background-color: white;
  margin-left: 8px;
  cursor: pointer;
  position: relative;

  &:checked {
    background-color: white;
  }

  &:checked::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 1px;
    width: 5px;
    height: 9px;
    border: solid #2563EB;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}


